*{
    margin: 0%;
    padding: 0%;
}
 .container{
    width: 100vw;
     display: grid;
     
     
     background-size: 100vw 100vh;
     background-position: center center;
     background-repeat: no-repeat;
 
 
     
     grid-template-columns: repeat(4,25%);
     grid: 300px  / repeat(4,29%);
     grid-gap:20px ;
    grid-template-areas: 
    "header header header header "
    "main main main main"
    "galeria galeria galeria galeria";

 }



 

 .container_item{
     grid-area: header;
     background-color: black;
     width: 100%;
     
 }
 .container_item2{
     grid-area: main;
     margin-top: 130px;
 }
 .h1{
     margin: 0% auto;
 }
 .gallery{
     width: 75%;
     grid-area: galeria;
   margin: 0px auto;
    display: grid;
    height: auto;
    grid-gap:10px ;
    grid-template-columns: 33% 33% 33% ;
   

 }
 
 .gallery img {
     width: 100%;
 }
.ancho{
 width: 90%;
}
/* pruebaaaaaaaa */
.imagenf{
    height: 60vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center button;
    background-position: center button;
    
}
div p {
    color: #000000;
    font-size: 16px;   
}
i{
    background-color: #000000;
    color: #000000;
}
.img2{
    color: rgb(66, 8, 226);
    background-color: rgb(112, 159, 245);
 
}

.display-4 p {
    color: #ffffff;
    font-size: 30px;
}
.display-4{
    color: #fdf5f5;
    font-family: 'Montserrat', sans-serif;
    text-emphasis: none;
    text-transform: uppercase;
    font-size: 42px;
    grid-area: titulo;
    margin-left: 100px;
    justify-content: end;
    align-items: center;
    
    
}

.a{
    padding: 0% 20px;
    
}
.items{
    margin-top: 200px;
    display: flex;
    position: relative;
    top: -120px;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 180px;
    text-align: justify;
   
    
   

}
.inicio{

  

    display: flex;
    flex-direction: column;
    text-align: justify;
    
    
}
h3{

    margin-left: 100px;
    font-size: 30px;
    color: #e2f106;
  
 
}
body{
    font-family: sans-serif;
    width: 100%;
    background-color: #ffffff;
   
}
.contenedor-co{
    width: 70%;

}
.contenedor-co p{
    text-align: justify;
    color: #000000;
}
.px-0 .p{
 
    width: 200px;
    position: relative;
    top: 50px;
    color: #070707;
    font-size: 50px;
    font-family: 'Oswald', sans-serif; 


}
.mover{
  position: relative;
  left: 70px;

}

.items .pre{
    margin-right: 60px;
   
    padding: 0%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    color: #fffb00 !important;
  
  
}


.boton1{
    display: inline;
    width: 200px;
    padding: 10px;
   
}
.col-md-6 p{
    color: #fbff02;
    font-size: 28px;
    
    
}
button:hover{
    background-color: #7779ee !important;
    
}

button:hover > a {
    color: #000000 !important;
}
.boton1 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #f5efef;
   

}
.px{
    width: 24px;
    height: 24px;
}


