
  <body>
    
  
<div class="container" *ngFor="let detalle of plan">
  
  <main  class="container_item">
    <div class="imagenf" style=" background-image: url('{{detalle.imagen}}');">
      <div class="col-md-6   px-0">
      
       
        <div class="inicio">  <h1 class="display-4 fst-italic " >{{detalle.titulo}}</h1>
          <h3 class=" " >{{detalle.ciudad}}</h3></div>
        
     
     
       
      </div>
      <div class="items">
        <P class="lead pre my-3 ">{{detalle.precio}}</P>
        <button  type="button" class="btn boton1  btn-dark" onclick="alert('compra exitosa')"> <a  class="a" href="">Comprar </a></button>
           
       </div>
    </div>
    
  </main>
  
  <div   class="container_item2 px-4 py-5" id="featured-3" *ngFor="let detalle of plan">
        <h2 class="pb-2 border-bottom">DESCRIPCION DE PLANES </h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
            </div>
            <h2>Descripcion</h2>
            <p>{{detalle.descripcion}}</p>
            
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
            </div>
            <h2 >INCLUYE</h2>
            <ul *ngFor="let incluye of detalle.incluye">
              <li>{{incluye}}</li>
            </ul>
           
           
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
            </div>
            <h2>IMPORTANTE</h2>
             
        <p>{{detalle.importante}}</p>  
  
            <a href="#" class="icon-link">
              explorar nuestros planes
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
        </div>
        <H1 class="h1">GALERIA</H1>
      </div>
     
      
        <!-- Modal gallery -->
        <div class="gallery" *ngFor="let detalle of plan">

          
            <img src="{{detalle.imgg}}" alt="">

            <img src="{{detalle.imgg2}}" alt="">

            <img src="{{detalle.imgg3}}" alt="">

            <img src="{{detalle.imgg}}" alt="">
            <img src="{{detalle.imgg2}}" alt="">

            <img src="{{detalle.imgg3}}" alt="">

           


</div>        
  
  <!-- Modal gallery -->
      
  
    
    
    </div>
  
  </body>